<main class="contenedor">
  <form method="POST" class="default-form">
    <div class="campo">
      <label for="password">New Password</label>
      <input type="password" name="password" placeholder="New Password:" required>
    </div>
    <div class="campo">
      <input type="submit" value="Save Password" class="btn btn-azul">
    </div>
  </form>
</main>