<main class="contenedor">
  <form method="POST" action={{routes.RESET_PASSWORD}} class="default-form">
    <div class="campo">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email" required>
    </div>
    <div class="campo acciones">
      <a href={{routes.LOGIN}}>Login</a>
    </div>
    <div class="campo">
      <input type="submit" value="Reset" class="btn btn-azul">
    </div>
  </form>
</main>